.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log

tsconfig.tsbuildinfo
.tsconfig.tsbuildinfo

node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
.pnp.*

@package/**/lib

