---
import Layout from '../layouts/Layout.astro'
import { config } from '../config'
import '../../src/css/index.css'
---

<Layout {...config}>
  <div class="w-full h-[100dvh] flex items-center justify-center">
    <div class="flex flex-col items-center space-y-2">
      <h1>404</h1>
      <h2>Page no longer exists</h2>
      <a href="/" class="font-medium border-b-2 border-fg whitespace-nowrap flex items-center"
        ><svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 512 512"
          height="1.3rem"
          width="1.3rem"
          class="-ml-2"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M320 128L192 256l128 128z"></path>
        </svg> Go Home</a
      >
    </div>
  </div>
</Layout>

<style>
  body {
    font-size: 10px;
  }
</style>
